@use '../../../variables.scss';
@use '../../../mixins.scss';


section {
    @include mixins.flex-box($flex: column);
    padding: 24px 140px 24px 140px;
    gap: variables.$gap-m;


    h2 {
        @include mixins.font-size-and-weight($size: variables.$font-size-xxxxl, $weight: variables.$font-weight-medium);
        color: variables.$color-primary;
        margin: 0;
    }


    ul {
        @include mixins.flex-box($wrap: wrap);
        gap: variables.$gap-xxxxl;
        margin: 0;
        padding: 0;


        li {
            @include mixins.flex-box($flex: column, $align: center);
            @include mixins.width-and-height($width: 100px);
            gap: variables.$gap-s;
            list-style: none;


            img {
                @include mixins.width-and-height($width: 55px, $height: 55px);
            }


            span {
                @include mixins.font-size-and-weight($size: variables.$font-size-lg, $weight: variables.$font-weight-bold);
                color: variables.$color-accent;
                text-align: center;
            }
        }


        li:last-of-type {
            @include mixins.position($position: relative);


            &::before {
                @include mixins.font-size-and-weight($size: variables.$font-size-lg);
                @include mixins.position($position: absolute, $bottom: 110%);
                color: variables.$color-accent;
                background-color: variables.$color-background;
                border: 1px solid variables.$color-accent;
                padding: 10px;
                content: attr(data-tooltip);
                text-align: center;
                display: none;
            }


            &:hover::before {
                @include mixins.flex-box();
            }
        }
    }
}