@use '../../../variables.scss';
@use '../../../mixins.scss';


section {
    @include mixins.flex-box($flex: column);
    padding: 24px 140px 24px 140px;
    gap: 22px;


    h2 {
        @include mixins.font-size-and-weight($size: variables.$font-size-xxxxl, $weight: variables.$font-weight-medium);
        color: variables.$color-primary;
        margin: 0;
    }


    ul {
        @include mixins.flex-box($wrap: wrap);
        gap: 100px;
        margin: 0;
        padding: 0;


        li {
            @include mixins.flex-box($flex: column, $align: center);
            @include mixins.width-and-height($width: 100px);
            gap: 10px;
            list-style: none;


            img {
                @include mixins.width-and-height($width: 55px, $height: 55px);
            }


            span {
                @include mixins.font-size-and-weight($size: variables.$font-size-lg, $weight: variables.$font-weight-bold);
                color: variables.$color-accent;
                text-align: center;
            }
        }


        li:last-of-type {


            &:hover+p {
                display: flex;
            }
        }


        p {
            @include mixins.font-size-and-weight($size: variables.$font-size-lg);
            @include mixins.width-and-height($width: 30%);
            color: variables.$color-accent;
            margin: 0;
        }
    }
}