<footer>
    <div class="container-icon-and-jobtitle">
        <img src="/icons/favicon.png" alt="">
        <span>Fullstack Developer</span>
    </div>


    <div class="container-legal-notice-and-privacy-policy">
        <p>© Tom Petri 2025</p>
        <nav>
            <a routerLink="/legal-notice">Legal notice</a>
            <a routerLink="/privacy-policy">Privacy policy</a>
        </nav>
    </div>


    <div class="container-icons">
        <a href="https://github.com/Tom5424" target="_blank">
            <img src="/icons/github.svg" alt="">
        </a>

        <a href="mailto:tom.petri7@gmail.com" target="_blank">
            <img src="/icons/email.svg" alt="">
        </a>

        <a href="https://www.linkedin.com/in/tom-petri/" target="_blank">
            <img src="/icons/linkedin.svg" alt="">
        </a>
    </div>
</footer>