@use '../../../variables.scss';
@use '../../../mixins.scss';


header {
    @include mixins.flex-box($justify: space-between);
    padding: 24px 140px 24px 140px;


    nav {
        @include mixins.flex-box($align: center);
        gap: variables.$gap-xxl;


        a {


            img {
                @include mixins.width-and-height(55px, 55px);
            }
        }


        ul {
            @include mixins.flex-box();
            gap: variables.$gap-xl;
            list-style: none;
            margin: 0;
            padding: 0;


            li {


                a {
                    @include mixins.hover($transition: hover 125ms ease-in-out, $color: variables.$color-accent);
                    @include mixins.active($active-effect: (text-decoration: underline));
                    @include mixins.font-size-and-weight(variables.$font-size-xl, variables.$font-weight-medium);
                    color: variables.$color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}


.conatiner-switch-languages {
    @include mixins.flex-box($align: center);
    gap: variables.$gap-xxs;


    p {
        @include mixins.hover(pointer, variables.$color-accent, hover 125ms ease-in-out);
        @include mixins.font-size-and-weight(variables.$font-size-lg, variables.$font-weight-bold);
        color: variables.$color-primary;
        margin: 0;
    }


    hr {
        @include mixins.width-and-height(3px, 22px);
        background-color: variables.$color-primary;
        margin: 0;
        border: unset;
    }
}