<header>
    <nav>
        <a href="#top" (click)="handleLogoClick()">
            <img src="/img-icons/favicon.png" alt="">
        </a>

        
        @if(isOnHomePage()) {
        <ul>

            @for (navigationItem of navigationItems; track $index) {
            <li>
                <a routerLink="/" [fragment]="navigationItem.href" (click)="setActiveLink(navigationItem.href)"
                    [ngClass]="getActiveLinkClass(navigationItem.href)">
                    {{ navigationItem.name | translate }}
                </a>
            </li>
            }

        </ul>
        }
    </nav>


    <div class="container-switch-languages">
        <p (click)="selectLanguage('de')" [ngClass]="getActiveLanguageClass('de')">DE</p>
        <hr>
        <p (click)="selectLanguage('en')" [ngClass]="getActiveLanguageClass('en')">EN</p>
    </div>
</header>