@use '../../../variables.scss';
@use '../../../mixins.scss';


header {
    @include mixins.flex-box($justify: space-between);
    @include mixins.position($position: sticky, $top: 0);
    background: linear-gradient(variables.$color-background 50%, rgba(11, 4, 45, 0.2) 150%);
    z-index: 1;
    padding: 24px 140px 24px 140px;


    nav {
        @include mixins.flex-box($align: center);
        gap: variables.$gap-xxl;


        a {


            img {
                @include mixins.width-and-height(55px, 55px);
            }
        }


        ul {
            @include mixins.flex-box();
            gap: variables.$gap-xl;
            list-style: none;
            margin: 0;
            padding: 0;


            li {


                a {
                    @include mixins.hover($transition: hover 125ms ease-in-out, $color: variables.$color-accent);
                    @include mixins.active($text: underline);
                    @include mixins.font-size-and-weight(variables.$font-size-xl, variables.$font-weight-medium);
                    color: variables.$color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}


.container-switch-languages {
    @include mixins.flex-box($align: center);
    gap: variables.$gap-xxs;


    p {
        @include mixins.font-size-and-weight(variables.$font-size-lg, variables.$font-weight-bold);
        margin: 0;
    }


    hr {
        @include mixins.width-and-height(3px, 22px);
        background-color: variables.$color-primary;
        margin: 0;
        border: unset;
    }
}


.active-link {
    color: variables.$color-accent !important;
    text-decoration: underline !important;
}


.inactive-language {
    @include mixins.hover($cursor: pointer, $color: variables.$color-accent, $transition: hover 125ms ease-in-out);
    color: variables.$color-primary;
}


.active-language {
    @include mixins.hover($cursor: unset);
    color: variables.$color-accent;
}