@if (formFieldIsTouched(ngModelControl())) {

@for (errorMessage of errorMessages(); track $index) {

@if (formFieldHasErrors(ngModelControl(), errorMessage)) {

<div class="container-validation-messages">
    <p class="error-message">{{ errorMessage.text }}</p>
    <img src="/icons/exclamation-mark.svg" alt="">
</div>
}

}

}


@if (formFieldIsValid(ngModelControl())) {

@for (successMessage of successMessages(); track $index) {

<div class="container-validation-messages">
    <p class="success-message">{{ successMessage.text }}</p>
    <img src="/icons/check.svg" alt="">
</div>

}

}