<section>
    <div class="container-button-icon-and-image">
        <a routerLink="/" fragment="contact-me">{{ 'intro.contactMe' | translate }}</a>
        <a routerLink="/" fragment="why-me" (click)="scrollSpyService.scrollToActiveSection(25)">
            <img src="/img-icons/arrow-down.svg" alt="">
        </a>
        <img src="/img/img1.jpg" alt="Portrait of Tom Petri">
    </div>


    <div class="container-headlines">
        <h1>{{ 'intro.jobTitle' | translate }}</h1>
        <h2>Tom Petri</h2>
    </div>
</section>