@use '../../../variables.scss';
@use '../../../mixins.scss';


section {
    padding: 0 140px 24px 140px;
}


.container-button-icon-and-image {
    @include mixins.flex-box($align: center, $justify: space-between);


    a:first-child {
        @include mixins.hover($color: variables.$color-accent, $transition: hover 125ms ease-in-out);
        @include mixins.font-size-and-weight($size: variables.$font-size-lg, $weight: variables.$font-weight-medium);
        color: variables.$color-primary;
        border: 1px solid variables.$color-accent;
        padding: 15px 30px 15px 30px;
        margin-top: 260px;
        transform: rotate(-90deg);
        transform-origin: top left;
        text-decoration: none;
        background-color: unset;
    }


    a:nth-child(2) {
        @include mixins.hover($filter: brightness(0) saturate(100%) invert(80%) sepia(34%) saturate(1664%) hue-rotate(105deg) brightness(96%) contrast(98%), $border: 1px solid variables.$color-accent, $transition: hover 125ms ease-in-out);
        margin-top: 125px;
        padding: 5px;
    }


    >img:last-of-type {
        @include mixins.width-and-height($width: 320px);
    }
}


.container-headlines {
    @include mixins.flex-box($flex: column);
    gap: variables.$gap-xs;
    margin-top: -45px;


    h1 {
        @include mixins.font-size-and-weight($size: variables.$font-size-xxxxl, $weight: variables.$font-weight-medium);
        color: variables.$color-accent;
        margin: 0;
    }


    h2 {
        @include mixins.font-size-and-weight($size: variables.$font-size-xxxxxl, $weight: variables.$font-weight-bold);
        color: variables.$color-accent;
        margin: 0;
    }
}