<app-header></app-header>


<div class="container-privacy-policy">
    <h1>{{ 'privacyPolicy.headline' | translate }}</h1>


    <section>
        <h2>{{ 'privacyPolicy.privacyAtAGlance.privacyAtAGlanceHeadline' | translate }}</h2>
        <h3>{{ 'privacyPolicy.privacyAtAGlance.generalInfoHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.privacyAtAGlance.generalInfoText' | translate }}</p>
        <h3>{{ 'privacyPolicy.privacyAtAGlance.dataCollectionHeadline' | translate }}</h3>
        <h4>{{ 'privacyPolicy.privacyAtAGlance.whoIsResponsibleHeadline' | translate }}</h4>
        <p>{{ 'privacyPolicy.privacyAtAGlance.whoIsResponsibleText' | translate }}</p>
        <h4>{{ 'privacyPolicy.privacyAtAGlance.howWeCollectHeadline' | translate }}</h4>
        <p>{{ 'privacyPolicy.privacyAtAGlance.howWeCollectText1' | translate }}</p>
        <p>{{ 'privacyPolicy.privacyAtAGlance.howWeCollectText2' | translate }}</p>
        <h4>{{ 'privacyPolicy.privacyAtAGlance.whatWeUseForHeadline' | translate }}</h4>
        <p>{{ 'privacyPolicy.privacyAtAGlance.whatWeUseForText' | translate }}</p>
        <h4>{{ 'privacyPolicy.privacyAtAGlance.yourRightsHeadline' | translate }}</h4>
        <p>{{ 'privacyPolicy.privacyAtAGlance.yourRightsText1' | translate }}</p>
        <p>{{ 'privacyPolicy.privacyAtAGlance.yourRightsText2' | translate }}</p>
    </section>


    <section>
        <h2>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.headline' | translate }}</h2>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.dataProtectionHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.dataProtection' | translate }}</p>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.usageExplanation' | translate }}</p>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.securityNote' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.responsiblePartyHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.responsibleParty' | translate }}</p>
        <address>
            Tom Petri
            <br />
            Wilhelmstraße 32
            <br />
            48324 Sendenhorst
            <br />
            Email: <a href="mailto:E-Mail: tom.petri7@gmail.com">tom.petri7@gmail.com</a>
        </address>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.responsiblePartySecondParagraph' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.dataRetentionHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.dataRetention' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.legalBasisHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.legalBasis' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.revocationHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.revocation' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.objectionHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.objectionText1' | translate }}</p>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.objectionText2' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.complaintHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.complaintText' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.dataPortabilityHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.dataPortabilityText' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.accessDeletionCorrectionHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.accessDeletionCorrectionText' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingIntro' | translate }}</p>
        <ul>
            <li>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingCase1' | translate }}</li>
            <li>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingCase2' | translate }}</li>
            <li>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingCase3' | translate }}</li>
            <li>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingCase4' | translate }}</li>
        </ul>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.restrictProcessingConclusion' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.sslHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.sslText1' | translate }}</p>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.sslText2' | translate }}</p>
        <h3>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.advertisingEmailsHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.generalInformationAndMandatoryDisclosures.advertisingEmailsText' | translate }}</p>
    </section>


    <section>
        <h2>{{ 'privacyPolicy.dataCollectionOnTheWebsite.dataCollectionHeadline' | translate }}</h2>
        <h3>Cookies</h3>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.cookiesText1' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.cookiesText2' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.cookiesText3' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.cookiesText4' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.cookiesText5' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.cookiesText6' | translate }}</p>
        <h3>{{ 'privacyPolicy.dataCollectionOnTheWebsite.contactFormHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.contactFormText1' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.contactFormText2' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.contactFormText3' | translate }}</p>
        <h3>{{ 'privacyPolicy.dataCollectionOnTheWebsite.inquiriesHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.inquiriesText1' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.inquiriesText2' | translate }}</p>
        <p>{{ 'privacyPolicy.dataCollectionOnTheWebsite.inquiriesText3' | translate }}</p>
    </section>


    <section>
        <h2>4. Plugins and Tools</h2>
        <h3>{{ 'privacyPolicy.pluginsAndTools.myFontsHeadline' | translate }}</h3>
        <p>{{ 'privacyPolicy.pluginsAndTools.myFontsText1' | translate }}</p>
        <p>{{ 'privacyPolicy.pluginsAndTools.myFontsText2' | translate }}</p>
        <p>
            {{ 'privacyPolicy.pluginsAndTools.myFontsText3' | translate }}
            <br>
            <br>
            <a href="https://www.monotype.com/de/rechtshinweise/datenschutzrichtlinie/datenschutzrichtlinie-zum-tracking-von-webschriften"
                target="_blank" rel="noopener noreferrer">
                https://www.monotype.com/de/rechtshinweise/datenschutzrichtlinie/datenschutzrichtlinie-zum-tracking-von-webschriften.
            </a>
        </p>
    </section>


    <footer>
        {{ 'privacyPolicy.footer.source' | translate }}
        <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a>
    </footer>
</div>


<app-footer></app-footer>