@use '../../../variables.scss';
@use '../../../mixins.scss';


header {
    @include mixins.flex-box($justify: space-between, $align: center);
    @include mixins.position($position: sticky, $top: 0);
    background: linear-gradient(variables.$color-background 50%, rgba(11, 4, 45, 0.2) 150%);
    z-index: 1;
    padding: 24px clamp(20px, 10vw, 140px);


    a {


        img {
            @include mixins.width-and-height(55px, 55px);
        }
    }
}


.container-lines {
    @include mixins.hover($cursor: pointer);
    @include mixins.flex-box($flex: column);
    gap: variables.$gap-s;


    img {
        @include mixins.width-and-height($width: 45px);
    }
}


.container-menu {
    @include mixins.position($position: fixed, $top: 0, $bottom: 0, $right: 0, $left: 0);
    @include mixins.flex-box($flex: column, $justify: center);
    background: linear-gradient(#000033, #000066);
    z-index: 1;


    img {
        @include mixins.position($position: absolute, $top: 20px, $right: 20px);
        @include mixins.hover($cursor: pointer);
    }


    nav {
        @include mixins.flex-box($flex: column, $align: center);
        gap: variables.$gap-xxxl;


        ul {
            @include mixins.flex-box($flex: column, $align: center);
            gap: variables.$gap-xxxl;
            list-style: none;
            margin: 0;
            padding: 0;


            li {


                a {
                    @include mixins.active($text: underline, $color: variables.$color-accent, $transition: hover 125ms ease-in-out);
                    @include mixins.hover($cursor: pointer);
                    @include mixins.font-size-and-weight(variables.$font-size-xl, variables.$font-weight-medium);
                    color: variables.$color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}


.container-switch-languages {
    @include mixins.flex-box($align: center);
    gap: variables.$gap-xxs;


    p {
        @include mixins.font-size-and-weight(variables.$font-size-lg, variables.$font-weight-bold);
        @include mixins.hover($cursor: pointer);
        margin: 0;
    }


    hr {
        @include mixins.width-and-height(3px, 22px);
        background-color: variables.$color-primary;
        margin: 0;
        border: unset;
    }
}


.active-link {
    color: variables.$color-accent !important;
    text-decoration: underline !important;
}


.inactive-language {
    @include mixins.active($color: variables.$color-accent, $transition: hover 125ms ease-in-out);
    color: variables.$color-primary;
}


.active-language {
    @include mixins.hover($cursor: unset);
    color: variables.$color-accent;
}


.slide-in {
    translate: 0 0;
    transition: translate 320ms ease-in-out;
}


.slide-out {
    translate: 1500px 0;
    transition: translate 320ms ease-in-out;
}


@media screen and (max-width: 650px) {


    .container-menu {


        nav {


            ul {


                li {


                    a {
                        @include mixins.font-size-and-weight(clamp(1.125rem, 3vw, 1.375rem));
                    }
                }
            }
        }
    }
}