@use '../../../variables.scss';
@use '../../../mixins.scss';


section {
    @include mixins.flex-box($flex: column);
    gap: variables.$gap-m;
    padding: 24px 140px 24px 140px;
}


.wrapper-container {
    @include mixins.flex-box($justify: space-between, $align: center);


    address {
        font-style: normal;


        a {
            @include mixins.font-size-and-weight($size: variables.$font-size-lg, $weight: variables.$font-weight-medium);
            @include mixins.hover($filter: brightness(0) saturate(100%) invert(80%) sepia(34%) saturate(1664%) hue-rotate(105deg) brightness(96%) contrast(98%), $transition: hover 125ms ease-in-out);
            @include mixins.active($text: underline);
            @include mixins.flex-box($align: center);
            gap: variables.$gap-s;
            color: variables.$color-accent;
            text-decoration: none;
        }
    }


    >a:last-child {
        @include mixins.hover($filter: brightness(0) saturate(100%) invert(80%) sepia(34%) saturate(1664%) hue-rotate(105deg) brightness(96%) contrast(98%), $border: 1px solid variables.$color-accent, $transition: hover 125ms ease-in-out);
        padding: 5px;
    }
}


.container-headline-and-text {
    @include mixins.width-and-height($width: 50%);
    @include mixins.flex-box($flex: column);
    gap: variables.$gap-m;


    h2 {
        @include mixins.font-size-and-weight($size: variables.$font-size-xxxxl, $weight: variables.$font-weight-medium);
        color: variables.$color-primary;
        margin: 0;
    }


    p {
        @include mixins.font-size-and-weight($size: variables.$font-size-lg);
        @include mixins.width-and-height($width: 80%);
        color: variables.$color-accent;
        margin: 0;
    }
}


form {
    @include mixins.position($position: relative);
    @include mixins.flex-box($flex: column);
    gap: variables.$gap-xxl;


    label {
        @include mixins.font-size-and-weight($size: variables.$font-size-lg);
        @include mixins.hover($cursor: pointer);
        @include mixins.width-and-height($width: fit-content);
        @include mixins.position($position: relative);
        color: variables.$color-accent;


        input {
            @include mixins.hover($cursor: pointer);
        }


        a {
            @include mixins.hover($weight: 700, $transition: hover 125ms ease-in-out);
            color: variables.$color-primary;
            text-decoration: none;
        }
    }
}


.form-group-wrapper {
    @include mixins.flex-box();
    gap: variables.$gap-xxl;


    textarea {
        @include mixins.input-field-and-textarea(660px);
        resize: none;
    }
}


.form-group {
    @include mixins.flex-box($flex: column);
    gap: variables.$gap-xxl;


    input {
        @include mixins.input-field-and-textarea(500px);
    }
}


.container-button {
    @include mixins.flex-box($justify: flex-end);


    button {
        @include mixins.font-size-and-weight($size: variables.$font-size-lg, $weight: variables.$font-weight-medium);
        font-family: 'Roboto Mono', monospace;
        background-color: unset;
        padding: 15px 30px 15px 30px;
    }
}


.container-validation-message {
    @include mixins.position($position: absolute);


    &.name-position {
        @include mixins.position($top: 53px);
    }


    &.email-position {
        @include mixins.position($top: 135px);
    }


    &.message-position {
        @include mixins.position($top: 135px, $left: 562px);
    }


    &.privacy-policy-position {
        @include mixins.position($top: 35px, $left: 300px);
        pointer-events: none;
    }
}


.button-disable {
    @include mixins.hover($cursor: not-allowed);
    color: variables.$color-button-disabled;
    border: 1px solid variables.$color-button-disabled;
}


.button-enable {
    @include mixins.hover($cursor: pointer, $color: variables.$color-primary, $transition: hover 125ms ease-in-out);
    color: variables.$color-accent;
    border: 1px solid variables.$color-accent;
}


.container-feedback-message {
    @include mixins.position($position: fixed, $top: 108px);
    background-color: variables.$color-background;
    border: 1px solid variables.$color-accent;
    z-index: 1;
    padding: 20px;


    p {
        @include mixins.font-size-and-weight($size: variables.$font-size-lg);
        margin: 0;
        text-align: center;
    }
}


.slide-in {
    @include mixins.position($right: 5px);
    transition: right 500ms ease-in-out;
}


.slide-out {
    @include mixins.position($right: -500px);
    transition: right 500ms ease-in-out;
}


.error-message {
    color: variables.$color-error-message;
}


.success-message {
    color: variables.$color-success-message;
}


.container-arrow-mobile {
    @include mixins.flex-box($justify: flex-end);
    display: none;


    a {
        @include mixins.hover($filter: brightness(0) saturate(100%) invert(80%) sepia(34%) saturate(1664%) hue-rotate(105deg) brightness(96%) contrast(98%), $border: 1px solid variables.$color-accent, $transition: hover 125ms ease-in-out);
        padding: 5px;
    }
}


.address-mobile {
    @include mixins.flex-box($justify: center);
    font-style: normal;
    display: none;


    a {
        @include mixins.hover($filter: brightness(0) saturate(100%) invert(80%) sepia(34%) saturate(1664%) hue-rotate(105deg) brightness(96%) contrast(98%), $transition: hover 125ms ease-in-out);
        @include mixins.active($text: underline);
        @include mixins.font-size-and-weight($size: variables.$font-size-lg, $weight: variables.$font-weight-medium);
        @include mixins.flex-box($flex: column, $align: center);
        color: variables.$color-accent;
        gap: variables.$gap-s;
        text-decoration: none;
    }
}