<section>
    <div class="wrapper-container">
        <div class="container-headline-and-text">
            <h2>
                Contact me
                <img src="/icons/curved-arrow-2.svg" alt="">
            </h2>

            <p>
                Encourage people to contact you and describe what role you are interested in. Express interest in
                contributing
                to a new project.
            </p>
        </div>


        <address>
            <a href="mailto:tom.petri7@gmail.com">
                <img src="/icons/email.svg" alt="">
                E-mail: tom.petri7@gmail.com
            </a>
        </address>


        <a href="#top">
            <img src="/icons/arrow-up.svg" alt="">
        </a>
    </div>


    <form>
        <div class="form-group-wrapper">
            <div class="form-group">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
            </div>


            <textarea placeholder="Your Message"></textarea>
        </div>


        <label for="checkbox-privacy-policy">
            <input type="checkbox" id="checkbox-privacy-policy">
            I have read the <a href="#">privacy-policy</a> and agree to the processing of my data as outlined.
        </label>


        <div class="container-button">
            <button type="submit">Send</button>
        </div>
    </form>
</section>