<section id="contact-me">
    <div class="wrapper-container">
        <div class="container-headline-and-text">
            <h2>
                {{ 'contactMe.headline' | translate}}
                <img src="/icons/curved-arrow-2.svg" alt="">
            </h2>

            <p>{{ 'contactMe.text' | translate}}</p>
        </div>


        <address>
            <a href="mailto:tom.petri7@gmail.com">
                <img src="/icons/email.svg" alt="">
                E-mail: tom.petri7@gmail.com
            </a>
        </address>


        <a href="#top">
            <img src="/icons/arrow-up.svg" alt="">
        </a>
    </div>


    <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
        <div class="form-group-wrapper">
            <div class="form-group">
                <input type="text" placeholder="{{ 'contactMe.placeholders.name' | translate }}" name="name" required
                    minlength="1" maxlength="25" autocomplete="off" #name="ngModel" [(ngModel)]="this.contactForm.name">


                @if (showValidationMessages(name)) {
                <app-validation-message [ngModelControl]="name"
                    [successMessages]="[{ messageType: 'valid', text: 'contactMe.successMessages.name' | translate }]"
                    [errorMessages]="[{ messageType: 'required', text: 'contactMe.errorMessages.name' | translate }]"
                    class="container-validation-message name-position">
                </app-validation-message>
                }


                <input type="email" placeholder="{{ 'contactMe.placeholders.email' | translate }}" name="email" required
                    autocomplete="off" pattern="[A-Za-z0-9._]+@[A-Za-z0-9.]+[.][A-Za-z]{2,}" #email="ngModel"
                    [(ngModel)]="this.contactForm.email">


                @if (showValidationMessages(email)) {
                <app-validation-message [ngModelControl]="email"
                    [successMessages]="[{ messageType: 'valid', text: 'contactMe.successMessages.email' | translate }]"
                    [errorMessages]="[{ messageType: 'required', text: 'contactMe.errorMessages.email.required' | translate }, 
                    { messageType: 'pattern', text: 'contactMe.errorMessages.email.invalid' | translate }]"
                    class="container-validation-message email-position">

                </app-validation-message>
                }
            </div>


            <textarea placeholder="{{ 'contactMe.placeholders.message' | translate }}" name="message" minlength="1"
                maxlength="250" required autocomplete="off" #message="ngModel" [(ngModel)]="this.contactForm.message">
            </textarea>


            @if (showValidationMessages(message)) {
            <app-validation-message [ngModelControl]="message"
                [successMessages]="[{ messageType: 'valid', text: 'contactMe.successMessages.message' | translate }]"
                [errorMessages]="[{ messageType: 'required', text: 'contactMe.errorMessages.message' | translate }]"
                class="container-validation-message message-position">

            </app-validation-message>
            }
        </div>


        <label for="checkbox-privacy-policy">
            <input type="checkbox" id="checkbox-privacy-policy" name="checkboxPrivacyPolicy" required
                #checkboxPrivacyPolicy="ngModel" [(ngModel)]="this.contactForm.checkboxPrivacyPolicy">

            {{ 'contactMe.privacyPolicy.startText' | translate }}

            <a routerLink="/privacy-policy">{{ 'contactMe.privacyPolicy.link' | translate }}</a>

            {{ 'contactMe.privacyPolicy.endText' | translate }}

            
            @if (showValidationMessages(checkboxPrivacyPolicy)) {
            <app-validation-message [ngModelControl]="checkboxPrivacyPolicy"
                [errorMessages]="[{ messageType: 'required', text: 'contactMe.errorMessages.privacyPolicy' | translate }]"
                class="container-validation-message privacy-policy-position">

            </app-validation-message>
            }
        </label>


        <div class="container-button">
            <button type="submit" [disabled]="formIsInvalid(contactForm)"
                [ngClass]="getButtonDisableOrEnableClass(contactForm)">
                {{ 'contactMe.buttonText' | translate }}
            </button>
        </div>
    </form>
</section>