<section id="my-projects">
    <h2>{{ 'myProjects.headline' | translate }}</h2>


    @for (project of projects; track $index) {
    <article [usal]="$index % 2 === 0 ?  'fade-r-100 once duration-750' : 'fade-l-100 once duration-750'">
        <img [src]="project.imgPath" alt="">


        <div class="container-project-description">
            <h3>{{ project.name }}</h3>

            <p>{{ project.technologies }}</p>

            <p>{{ project.description | translate }}</p>

            <div class="container-links">
                <a [href]="project.githubLink" target="_blank">GitHub</a>
                <a [href]="project.liveTestLink" target="_blank">Live Test</a>
            </div>
        </div>
    </article>


    <!-- Display only in mobile view -->
    <div [usal]="$index % 2 === 0 ?  'fade-r-100 once duration-750' : 'fade-l-100 once duration-750'"
        class="container-links mobile">
        <a [href]="project.githubLink" target="_blank">GitHub</a>
        <a [href]="project.liveTestLink" target="_blank">Live Test</a>
    </div>
    }
</section>