<app-header></app-header>


<div class="container-legal-notice">
    <h1>{{ 'legalNotice.headline' | translate }}</h1>


    <section>
        <h2>{{ 'legalNotice.secondHeadline' | translate }}</h2>
        <address>
            Tom Petri
            <br>
            Wilhelmstra&szlig;e 32
            <br>
            48324 Sendenhorst
        </address>
    </section>


    <section>
        <h2>{{ 'legalNotice.contact' | translate }}</h2>
        <address>
            E-Mail: <a href="mailto:tom.petri7@gmail.com">tom.petri7@gmail.com</a>
        </address>
    </section>


    <footer>
        {{ 'legalNotice.source' | translate }}
        <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a>

        {{ 'legalNotice.logoMadeBy' | translate }}
        <a href="https://logomakr.com/" target="_blank">https://logomakr.com</a>
    </footer>
</div>


<app-footer></app-footer>