@use 'variables.scss';


@mixin flex-box($justify: null, $align: null, $flex: null, $wrap: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flex;
    flex-wrap: $wrap;
}


@mixin position($position: null, $top: null, $bottom: null, $left: null, $right: null) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}


@mixin width-and-height($width: null, $height: null) {
    width: $width;
    height: $height;
}


@mixin font-size-and-weight($size: null, $weight: null) {
    font-size: $size;
    font-weight: $weight;
}


@mixin input-field-and-textarea($width) {
    @include width-and-height($width: $width);
    @include font-size-and-weight($size: variables.$font-size-lg);
    color: variables.$color-accent;
    border: 1.5px solid variables.$color-accent;
    padding: 10px 10px 10px 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: unset;
    outline: none;


    &::placeholder {
        color: rgba(variables.$color-accent, 0.6);
    }
}


@mixin hover($cursor: null, $filter: null, $color: null, $border: null, $weight: null, $transition: null) {


    &:hover {
        cursor: $cursor;
        filter: $filter;
        color: $color;
        border: $border;
        font-weight: $weight;
        transition: $transition;
    }
}


@mixin active($transition: null, $color: null, $text: null, $border: null, $filter: null) {


    &:active {
        filter: $filter;
        transition: $transition;
        color: $color;
        text-decoration: $text;
        border: $border;
    }
}