@mixin flex-box($justify: null, $align: null, $flex: null) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $flex;
}


@mixin width-and-height($width: null, $height: null) {
    width: $width;
    height: $height;
}


@mixin font-size-and-weight($size: null, $weight: null) {
    font-size: $size;
    font-weight: $weight;
}


@mixin hover($cursor: null, $filter: null, $color: null, $border: null, $transition: null) {


    &:hover {
        cursor: $cursor;
        filter: $filter;
        color: $color;
        border: $border;
        transition: $transition;
    }
}


@mixin active($transition: null, $color: null, $text: null) {


    &:active {
        transition: $transition;
        color: $color;
        text-decoration: $text;
    }
}