html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}


.d-none {
  display: none;
}


.no-scroll {
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


::-webkit-scrollbar-thumb {
  background-color: #0B042D;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {


  &:hover {
    background-color: #0b0230f5;
  }
}