$color-background: #120B35;
$color-primary: #E15544;
$color-accent: #02F4BF;
$color-text-link: #0B042D;


$gap-xxs: 6px; 
$gap-m: 22px;
$gap-lg: 24px;
$gap-xl: 32px;
$gap-xxl: 40px;
$gap-xxxl: 48px; 


$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 54px;
$font-size-xxxxxl: 82px;


$font-weight-medium: 500;
$font-weight-bold: 700;