$color-background: #120B35;
$color-primary: #E15544;
$color-accent: #02F4BF;
$color-text-link: #0B042D;
$color-button-disabled: #827B7B;
$color-error-message: #F92103;
$color-success-message: #61E106;


$gap-xxs: 6px; 
$gap-xs: 8px;
$gap-s: 10px;
$gap-m: 22px;
$gap-lg: 24px;
$gap-xl: 32px;
$gap-xxl: 40px;
$gap-xxxl: 48px; 
$gap-xxxxl: 100px; 


$font-size-s: 14px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 54px;
$font-size-xxxxxl: 82px;


$font-weight-medium: 500;
$font-weight-bold: 700;