$color-background: #120B35;
$color-primary: #E15544;
$color-accent: #02F4BF;


$padding-header-y: 24px;
$padding-header-x: 140px;


$gap-xxs: 6px; 
$gap-xl: 32px;
$gap-xxl: 48px; 


$font-size-lg: 18px;
$font-size-xl: 22px;


$font-weight-medium: 500;
$font-weight-bold: 700;